<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance page</title>
</head>
<body>
<h1>Maintenance page</h1>
<p>The site is currently under maintenance, we will be back soon</p>
{{> footer}}
</body>
</html>